body {
  font-family: Arial, sans-serif;
  background-color: #041c36;
  margin: 0;
  padding: 0;
}
.cards{
    float: center;
    
}
.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #041c36;
  color :#ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}
.logo{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  background-color: #F8080C;
  color: #ffffff;
  cursor: pointer;
  width : 100%;
}
.form-group input[type="submit"]:hover {
  background-color:#F8080C;
}
  
  
  
  
  
  